<div class="card-columns" style="width: max-content; margin-left: 20%; margin-right: 20%;">
    {{#each artPieces}}
    <div class="card p-3 text-right">
        <img src={{this.cloud_url}}>
        <blockquote class="blockquote mb-0">
            <p></p>
            <footer class="blockquote-footer">
                <small class="text-muted">{{this.title}} <cite title="Source Title"> by {{this.artist_name}}</cite>
                </small><br>
                <button type="button" value="{{this.id}}" class="addToRegistry btn btn-primary btn-sm" onclick="addToRegistry(this)">Add to Registry</button>
            </footer>
                <small class="text-muted" id="num-likes-{{this.id}}">{{this.like_count}} likes</small>
                {{#if state}}
                    <button type="button" value="{{this.id}}" class="addToRegistry btn btn-primary btn-sm" {{this.state}} onclick="addToRegistry(this)">Add to Registry</button>
                {{/if}}
        </blockquote>
    </div>
    {{/each}}
</div>