{{!-- {{#if latest}}
    <div class="card-group">
        {{#each latest}}
            <div class="card">
                <img class="card-img-top" src="{{this.cloud_url}}" alt="">
                <div class="card-body d-flex flex-column">
                  <p class="card-text">{{this.artist_name}}</p>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p><em>There are currently no arts.</em></p>
{{/if}} --}}

<center>
<div class="latestHandler">
    <h1>
        Latest Images
    </h1>
    {{#if latest}}
        <div class="card-columns" style="margin-left: 5%; margin-right: 5%;">
            {{#each latest}}
            <div class="card p-3 text-right">
                <img src={{this.cloud_url}} class="art-img" id="image-{{this.id}}" onclick="loadInModal({{this.id}}, '{{this.title}}')">
                <blockquote class="blockquote mb-0">
                    <p></p>
                    <footer class="blockquote-footer">
                        <small class="text-muted" id="image-title-{{this.id}}">{{this.title}} <cite title="Source Title"> by {{this.artist_name}}</cite>
                        </small><br>
                        <svg onclick="likeArt({{this.id}})" id="like-{{this.id}}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            {{#if this.liked }}class="bi bi-heart-fill text-danger" {{else}} class="bi bi-heart-fill" {{/if}}  viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        <small class="text-muted" id="num-likes-{{this.id}}">{{this.like_count}} likes</small>
                        {{#if state}}
                            <button type="button" value="{{this.id}}" class="addToRegistry btn btn-primary btn-sm" {{this.state}} onclick="addToRegistry(this)">Add to Registry</button>
                        {{/if}}
                        </footer>
                </blockquote>
            </div>
            {{/each}}
        </div>
    {{else}}
        <p><em>There are currently no arts.</em></p>
    {{/if}}
</div>
</center>