<!-- For each gallery, the 'gallery-details' partial is used to render the gallery data -->
{{#each artTypes as |artType|}}
{{> artTypeCategory}}
{{/each}}

<section class="card">
  <a href="/artPiece/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>

{{!-- 
 --}}